cfg={
      _id: "rs0",
      members: [
            {
                  _id: 0,
                  host: "{{ groups['mongo_servers'][0] }}:27016"
            },
            {
                  _id: 1,
                  host: "{{ groups['mongo_servers'][1] }}:27016"
            },
            {
                  _id: 2,
                  host: "{{ groups['mongo_servers'][2] }}:27016"
            }
      ]
};
rs.initiate(cfg);