# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /opt/mongo/router_shard/rs1
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /opt/mongo/router_shard/rs1/mongod.log
  component:
    command:
      verbosity: 5

# network interfaces
net:
  port: 27007
  bindIp: 0.0.0.0



#processManagement:
processManagement:
  fork: true
  pidFilePath: /opt/mongo/router_shard/rs1/mongod.pid
  #timeZoneInfo: /usr/share/zoneinfo

#security:

#operationProfiling:

#replication:
replication:
  replSetName: rs1

#sharding:
sharding:
  clusterRole: shardsvr

## Enterprise-Only Options:

#auditLog:

#snmp: